@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Staatliches&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container {
    width: 92%;
    margin: 0 auto;
    padding: 1%;
}

.logo {
    float: left;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
    font-family: Arial;
    font-size: 15px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.order {
    width: 50%;
    margin: 0 auto;
}

a {
    color: #302e2e;
    text-decoration: none;
}

a:hover {
    color: #0b0b0b;
}

.navbar-brand {
    font-family: Helvetica;
    font-weight: 900;
    font-size: 1.2rem;
}

.navbar-brand span {
    color: #a98779;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.title {
    font-size: 2.5rem;
}

.title span {
    color: #a98779;
}

.button {
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    font-size: small;
}

.button:hover {
    background: #a98779;
    color: #fff;
    border: #fff;
}

h2 {
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}

legend {
    font-weight: bold;
    color: #a98779;
}

fieldset {
    border: 1px solid;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.coffee-menu-img {
    width: 20%;
    float: left;
}

.coffee-menu-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}

.coffee-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.order-label {
    margin-bottom: 1%;
    font-weight: bold;
}

.input-responsive {
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #a98779;
}

.clearfix {
    clear: both;
    float: none;
}

.social ul {
    list-style-type: none;
    margin-top: 7rem;
}

.social ul li {
    display: inline;
    padding: 1%;
    list-style-type: none;
}